/* SVG size */

#floorplan  {
  padding: 10px;
}

#floorplan > svg {
  max-width: 700px;
}

/* SVG elements */

svg * {
  vector-effect: non-scaling-stroke !important;
}

path[id^="light."] {
  stroke: black;
  stroke-width: unset !important;
}


/* TODO: color objects based on state */

.error {
  color: red;
}

.warning {
  color: yellow;
}

.normal {
  color: black;
}
